[user]
	name = {{ .git.name }}
	email = {{ .git.email }}

[init]
	defaultBranch = main

[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
	autocrlf = input
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[pull]
	rebase = true

[push]
	default = simple
	autoSetupRemote = true

[rebase]
	autoStash = true

[status]
	showUntrackedFiles = all

[log]
	date = relative

[alias]
	# Basic shortcuts
	co = checkout
	br = branch
	ci = commit
	st = status
	
	# Better logging
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	
	# Show files in a commit
	show-files = show --pretty="" --name-only
	
	# Undo last commit
	undo = reset HEAD~1 --mixed
	
	# Clean up merged branches
	cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d"
	
	# Quick commit and push
	cap = "!git add . && git commit -m"
	
	# Interactive rebase
	ri = rebase -i
	
	# Show current branch
	current = branch --show-current

[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
	autocorrect = 1

[rerere]
	enabled = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[include]
	path = ~/.config/git/config.local
	path = ~/.config/delta/themes/catppuccin.gitconfig
